<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Bem Vindo ao TIKTOK 2.0 </h1>
    <a href="/videos">Ver Vídeos</a>
</body>
</html>