<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Bem Vindo ao sistema </h1>
    <p>Perfil de usuário: {{nome}}, Idade: {{idade}}</p>
</body>
</html>